@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body, html{
    height: 100%;
    width: 100%;
}
body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: top center;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    
    

}
iframe#tela{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 267px;
    height: 472px;
    
    
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.281);
    
}
section#redes-sociais img:active{
    transform: scale(95%);
}